:root {
    --card-max-width: 220px;
    --border-radius: 15px;
    --color-theme: #5CB85C;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-theme);
}

/* Style Card - grid mode */
.flex-grid {
    display: flex;
    flex-wrap: wrap;
}
.flex-grid .card {
    display: flex;
    flex: 1 1 var(--card-max-width);
    margin: 10px;
    flex-direction: column !important;
    justify-content: flex-start;
    border-radius: var(--border-radius) !important;
}
.flex-grid .card > :first-child {
    border-top-left-radius: var(--border-radius) !important;
    border-top-right-radius: var(--border-radius) !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.flex-grid .card img {
    object-fit: unset !important;
    max-width: 100%;
    height: auto !important;
}
.flex-grid .card-info {
    text-align: center !important;
}
.flex-grid .card-info > div {
    justify-content: center !important;
}

/* Style Card - list mode */
.card {
    cursor: pointer;
    flex-direction: row;
    border-radius: var(--border-radius) !important;
    margin: var(--border-radius);
    transition: all .3s ease-in-out;
}

.card:hover {
    box-shadow: 0 0 var(--border-radius) rgba(0, 0, 0, .4);
}

.card :first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.card img {
    object-fit: cover;
    max-width: calc(100vw/3);
    height: 120px;
}
.card-info {
    display: flex;
    width: 100%;
    padding: 10px;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;	
}
.card-info > div {
    display: flex;
    padding: 1.25px;
    flex-wrap: wrap;
}

.tag {
    display: inline-flex;
    padding: 2px 8px;
    margin: 2px;
    border-radius: var(--border-radius);
    border: 1.5px solid rgba(0, 0, 0, .1);
    text-transform: lowercase;
}
.tag.--selected {
    background-color: rgba(0, 0, 0, .1);
    border-color: transparent;
}
.tag.--status {
    color: white;
    border: none;
    margin: 0 5px;
    background-color: var(--color-theme);
    transition: all .3s ease-in-out;
}

.input-default {
    padding-left: 40px !important;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, .05) !important;
    box-shadow: none;
}

/* Media Queries */
@media (max-width: 540px) {
    .flex-grid .card {
        flex-grow: 1 !important;
    }
}
@media (max-width: 768px) {
    .input-default {
        width: 200px !important;
    }
    .card {
        margin: 10px 5px;
    }
}
@media (max-width: 500px) {
    .input-default {
        width: 180px !important;
    }
    .card {
        margin: 10px 0;
    }
    .card-info {
        padding: 5px;
    }
}

/* Corrections */
.btn.btn-icon {
    width: 45px !important;
}
.btn.no-shadow:hover, .btn.no-shadow.focus {
    background: rgba(0, 0, 0, .1);
}
.flex-row {
    display: flex !important;
}
.dropdown a:hover,
.dropdown a:focus {
    cursor: pointer;
}
.dropdown > a {
    border-radius: var(--border-radius);
}
.dropdown .dropdown-items {
    border-radius: var(--border-radius);
    margin-left: 0;
}
.dropdown .dropdown-items :first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.dropdown .dropdown-items :last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.dropdown:hover .dropdown-items {
    margin-top: 10px;
}

/* To add */
.subtitle-3 {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.--normal {
    text-transform: initial !important;
}
.no-shadow,
.no-shadow:hover,
.no-shadow:focus {
    box-shadow: none;
}
.material-icons.--reset {
    position: relative;
    top: 5px;
}

/* Sidebar */
.sidebar {
    overflow-y: auto;
    background: white;
    flex-direction: column;
    align-items: initial;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    width: 320px;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
    transition: all .3s ease-in-out;
}
.sidebar.closed {
    right: -100%;
}

/* Reset Checkbox Style */
input[type="checkbox"] {
    -webkit-appearance: none;
    height: 20px !important;
    width: 20px !important;
    margin: 5px !important;
    padding: 2px !important;
}

/* Filter Style */
.filter-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2.5px 15px;
}
.filter-group > :first-child {
    grid-column: 1/4;
}
.filter-group > div:not(.card) {
    display:flex;
    margin: 5px;
    align-items: center;
}
.filter-group input[type="checkbox"]::before {
    content: '';
    display: block;
    position: relative;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius);
    transition: all .3s ease;
    transition-property: transform, border-color;
    border: 2px solid rgba(0,0,0,0.3);
}
.filter-group input[type="checkbox"]::after {
    content: '';
    display: block !important;
    position: relative;
    top: -21px;
    left: 0 !important;
    width: 24px;
    height: 24px;
    background: var(--color-theme);
}

.filter-group input[type="checkbox"]:checked::after,
.filter-group input[type="checkbox"]:focus::after {
    transform: scale(.6) !important;
}

.filter-group input[type="checkbox"].blur::after {
    transform: scale(0) !important;
}
.filter-group label {
    text-transform: uppercase;
}
.filter .btn.--clear-all {
    padding: 5px 0;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.footer-model {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out;
}
.footer-model > div {
    padding: 10px 20px;
}
.footer-model .model-header {
    background-color: #5CB85C;
    color: white;
}
.footer-model .model-content {
    background: #F7F7F7;
}
.footer-model.closed {
    bottom: -100% !important;
}
